{% extends "base.html" %}
{% block title %}Simon Hunter - What I do{% endblock %}

{% block content_title %}Simon Hunter - What I do{% endblock %}

{% include "includes/navbar.html" %}

{% block content %}


    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Simon Hunter</h1>
            <br>
            <h3><a href="#top" onclick = $("#menu-toggle").click() class = "hover_link"> What I do</a></h3>
            <!-- <a href="#top" onclick = $("#menu-toggle").click() class = "h3"> What I do</a> -->
            <br>
            <!-- <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
        </div>
    </header>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
      {% include "includes/navbar.js" %}
    </script>



</body>
{% endblock %}

<!-- </html> -->
