<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="/"  onclick = $("#menu-close").click(); >Simon Hunter</a>
        </li>
        <li>
            <a href="/about" onclick = $("#menu-close").click(); >About me</a>
        </li>
        <li>
            <a href="/data" onclick = $("#menu-close").click(); >Data</a>
        </li>
        <li>
            <a href="/photography" onclick = $("#menu-close").click(); >Photography</a>
        </li>
        <li>
            <a href="/travel" onclick = $("#menu-close").click(); >Travel</a>
        </li>
        {% if session.logged_in %}
        <li>
          <a href="{{ url_for('logout') }}" onclick = $("#menu-close").click(); >Log Out</a>
        <li>
        {% endif %}
    </ul>
</nav>
