{% extends "base.html" %}
{% block title %}Simon Hunter | About{% endblock %}

{% block content %}

{% include "includes/navbar.html" %}

<div class="container">

    <div class="head-about">
      <h1 class="about-h1">Hi, I'm Simon</h1>
      <!-- <p class="lead about-lead">Welcome to my blog, take your time give it a read and browse around.</p> -->
    </div>

  </div>

  <div class="post-fluid">
    <div class="container-fluid">
      <div class="container">
        <div class="row laread-about">

          <div class="about-picture">
            <img src="{{ url_for('static', filename='img/me.jpg') }}" alt="" />
          </div>

          <p class="basic-info"> Product, Technology, Healthcare <span><i class="fa fa-map-marker"></i> San Francisco, United States</span></p>

          <p>Product Mangement at Hinge Health where we develop the future of healthcare delivery. PhD in organic semiconductors physics, which I'm not putting to good use.
            When time permits, I travel. And when I travel I tend to take photos, some of which I display on this site.
            When I have insufficient time to travel I play around with code, design and data. This website is a product of that.
            I spend too much money on records and enjoy listening to repetitive music in dark rooms.
          </p>

          <h4><a class="about-social" href='mailto:simonhunter28@gmail.com'><span><i class="fa fa-envelope mail"></i>Get In Touch</span></a></h4>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
