{% extends "base.html" %}
{% block title %}Svalbard{% endblock %}
{% block content %}


<body>
  <div class="page-loader">
    <div class="loader-in">Loading...</div>
    <div class="loader-out">Loading...</div>
  </div>


  <div class="canvas">
    {% include "includes/navbar.html" %}


    <div class="container">
      <div class="head-text">
        <h1>Svalbard</h1>
        <p class="lead-text">June 2016</p>
      </div>
      <div class="post-item-paragraph">
        <p>A ten day circumnavigation of Spitsbergen, Svalbard. Situated half way between Norway and the North Pole Svalbard is home to a vast array of wildlife and varying climates.
          While the interior is a glacial wilderness the coast supports polar bears, walrus, seals, reindeer, whales and a cornucopia of bird life.
          Over the ten days we travelled into fjords witnessing vast blocks of ice calving from glaciers, polar bears and cubs with seal kills, minke and beluga whales, and huge groups of walrus.
          As incredible an experience as this was the Svalbard ecosystem is on the brink; our trip in 2016 coincided with record low sea ice extent and 2017 continued that trend.
          It's almost certain that Svalbard as it exists today will be gone within the coming decades.</p>
      </div>
    </div>

    <div class="post-fluid ">

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1470589059/Svalbard/DSC_2365.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div class="">
                  Iceberg   •   Svalbard
                </div>
                <!-- <div class="pull-right post-item-social">
                  <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                  <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1470589387/Svalbard/DSC_2334.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Beaded seal   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589383/Svalbard/DSC_2383.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Glacier's edge   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589070/Svalbard/DSC_3092.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Walrus   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589059/Svalbard/DSC_1993.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Svalbard reindeer   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589071/Svalbard/DSC_1978.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Ptarmigan   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589009/Svalbard/DSC_3037.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Fast ice   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589223/Svalbard/DSC_2095.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Polar bear with seal kill   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589280/Svalbard/DSC_2125.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Polar bear   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589257/Svalbard/DSC_2175.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Landscape   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589376/Svalbard/DSC_2279.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Red phalarope   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589294/Svalbard/DSC_2289.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Little auk   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589367/Svalbard/DSC_2736.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Polar bears   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589360/Svalbard/DSC_2882.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Polar bear cubs   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589405/Svalbard/DSC_2910.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Polar bears   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589041/Svalbard/DSC_3022.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Polar bears   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589402/Svalbard/DSC_3019.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Yearling polar bear   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589219/Svalbard/DSC_3444.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item-info clearfix">
                <div>
                  Abandoned trappers hut   •   Svalbard
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>





    <!-- <div class="row baseline-post-nav">
    <div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <a href="large-image-v2-1.html" class="post-nav post-newer">← NEWER</a>
    <a href="large-image-v2-3.html" class="post-nav post-older">OLDER →</a>
  </div>
</div>
</div>
</div> -->


</body>


{% endblock %}
