{% extends "base.html" %}
{% block title %}California{% endblock %}

{% block content %}

<body>
  <div class="page-loader">
    <div class="loader-in">Loading...</div>
    <div class="loader-out">Loading...</div>
  </div>


  <div class="canvas ">
    {% include "includes/navbar.html" %}


    <div class="container">
      <div class="head-text">
        <h1>California</h1>
        <p>Photos taken around and about The Golden State.</p>
      </div>
    </div>

    <div class="post-fluid ">

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="https://res.cloudinary.com/monsk/image/upload/v1538024144/California/DSC_7526-2_elq4xn.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Big Basin
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="https://res.cloudinary.com/monsk/image/upload/v1538023736/California/DSC_7240_axjhln.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Tahoe
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="https://res.cloudinary.com/monsk/image/upload/v1538023659/California/DSC_7532_myzg2b.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Big Basin
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1538023714/California/DSC_7123_f4u5ug.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Angora Lake   •   Tahoe
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="https://res.cloudinary.com/monsk/image/upload/v1538023820/California/DSC_7593_g4n6lu.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    North Beach   •   San Francisco
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="https://res.cloudinary.com/monsk/image/upload/c_scale,w_1600/v1550034223/California/20190120-DSC_8397_geefsn.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Jenkinson Lake   •   El Dorado County
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


</body>


{% endblock %}
