{% extends "base.html" %}
{% block title %}Hawaii{% endblock %}

{% block content %}


<body>
  <div class="page-loader">
    <div class="loader-in">Loading...</div>
    <div class="loader-out">Loading...</div>
  </div>


  <div class="canvas ">
    {% include "includes/navbar.html" %}


    <div class="container">
      <div class="head-text">
        <h1>Hawaii</h1>
        <p class="lead-text">November 2018</p>
      </div>
    <div class="post-item-paragraph">
      <p>The Big Island measures only 75 miles
        across and yet is home to a huge variety of climates, scenery and culture.
        Over the 10 days we spent on the island we scuba-dived with giant yet graceful manta rays,
        watched the sun set while waves crashed against hardened lava flows,
        witnessed the destruction wrought by the recent volcanic eruptions and earthquakes,
        and ate copious amounts of fresh poke. The island flips from desolate,
        pitch-black lava flows, to vast grasslands, to rain-drenched jungle and to
        the best and worst of American consumerism every few miles. It's a fascinating
        and incredibly accessible place to explore. These are a few pictures which
        I hope reflect the beauty of the island.
      </p>
      <p>The following photos were shot on a Nikon D600 with a
        Nikon 16-35mm f/4 and Nikon 80-200mm f/2.8.
      <p>
    </div>
    </div>



    <div class="post-fluid ">

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689051/Hawaii/20181003-DSC_7691.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Wawaloli Beach Park   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689062/Hawaii/20181003-DSC_7748.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Kailua-Kona   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689066/Hawaii/20181004-DSC_7764.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Pololu Valley   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689070/Hawaii/20181005-DSC_7791.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Keolonahihi State Historical Park   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689086/Hawaii/20181008-DSC_7895.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Punalu'u Black Sand Beach   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689110/Hawaii/20181010-DSC_7942.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Kīlauea Crater   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689124/Hawaii/20181011-DSC_7981.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Akaka Falls   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689130/Hawaii/20181011-DSC_7973.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Rainbow Falls   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689135/Hawaii/20181013-DSC_8033.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Coconut Island, Hilo   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689142/Hawaii/20181013-DSC_8039.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Coconut Island, Hilo   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689148/Hawaii/20181013-DSC_8079.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Kaumana Cave Lava Tube   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1542689077/Hawaii/20181006-DSC_7814.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Makalawena Beach   •   Hawaii
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

</div>





<!-- <div class="row baseline-post-nav">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<a href="large-image-v2-1.html" class="post-nav post-newer">← NEWER</a>
<a href="large-image-v2-3.html" class="post-nav post-older">OLDER →</a>
</div>
</div>
</div>
</div> -->


</body>


{% endblock %}
