{% extends "base2.html" %}
{% block title %}Simon Hunter - What I do{% endblock %}

{% block content_title %}Simon Hunter - What I do{% endblock %}

{% block content %}


{% include "includes/navbar.html" %}


<body>
	<div class="page-loader">
		<div class="loader-in">Loading...</div>
		<div class="loader-out">Loading...</div>
	</div>


	<div class="canvas post-striped">

		<div class="container">
			<div class="head-text">
				<h1>Simon Hunter</h1>
				<p class="lead-text">Not a clue.</p>
			</div>
		</div>

		<div class="post-fluid post-striped">

			<div class="container-fluid post-default">
				<div class="container">
					<div class="row post-items">
						<div class="post-item-banner">
							<img src="../assets/img/img-08.png" alt="" />
						</div>
						<div class="col-md-10 col-md-offset-1">
							<div class="post-item post-item-centered">
								<div class="post-item-paragraph">
									<span class="date">June 21, 2015</span>
									<h2><a href="#">THE GAME</a></h2>
									<p>Consectetur adipiscing elit. Vivamus nec mauris pulvinar leo dignissim sollicitudin eleifend eget velit. Nunc sed dolor enim, vitae sodales diam. Aenean imperdiet urna a lectus imperdiet consequat. Fusce eu nibh metus. Curabitur nec dignissim diam. Nulla eget massa at urna sagittis malesuada eget a erat. Sed vel magna leo, in pretium nunc. Ut ornare turpis vel ipsum vulputate lacinia. Pellentesque blandit sagittis tempor. Curabitur adipiscing est vitae quam bibendum at euismod ligula dignissim. Duis nec volutpat leo. Nam mollis massa ut nibh blandit ac faucibus metus tincidunt. Cras sagittis facilisis dui, id posuere tortor aliquam in. <a href="#" class="more">[...]</a></p>
								</div>
								<div class="post-item-info clearfix">
									<div class="pull-left">
										By <a href="#">Jared Erondu</a>   •   <a href="#">#culture</a>
									</div>
									<div class="pull-right post-item-social">
										<a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
										<a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
										<a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid post-quote">
				<div class="container">
					<div class="row post-items">
						<div class="col-md-12">
							<div class="post-item post-item-centered">
								<div class="in-hashtags">
									<img src="../assets/img/img-10.png" alt="" />
									<div class="block-overlay">
										<div class="overlay-hashtags">
											<span class="hastag">#mystery</span>
											<span class="link-text">Last night I lay in bed looking up at the stars in the sky and I thought to myself, where the heck is the ceiling?</span>
											<a href="#"><i class="fa fa-chevron-circle-right"></i>read more</a>
										</div>
									</div>
								</div>
								<div class="post-item-info clearfix">
									<div class="pull-left">
										<span>June 20, 2015</span>   •   <a href="#">#status</a>   •   <a href="#">46 Comments</a>
									</div>
									<div class="post-item-social">
										<a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
										<a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>





		<div class="row baseline-post-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<a href="large-image-v2-1.html" class="post-nav post-newer">← NEWER</a>
						<a href="large-image-v2-3.html" class="post-nav post-older">OLDER →</a>
					</div>
				</div>
			</div><!-- /.container -->
		</div>


</body>

{% endblock %}
