{% extends "base.html" %}
{% block title %}National Parks{% endblock %}

{% block content %}


<body>
  <div class="page-loader">
    <div class="loader-in">Loading...</div>
    <div class="loader-out">Loading...</div>
  </div>


  <div class="canvas ">
    {% include "includes/navbar.html" %}


    <div class="container">
      <div class="head-text">
        <h1>US National Parks</h1>
        <p class="lead-text">November 2017</p>
      </div>
    <div class="post-item-paragraph">
      <p>A week spent on a National Parks tour of the American Southwest. After landing in Las Vegas we headed north and across the border into Utah.
        A hike up Angel's Landing in Zion National Park was followed by a day in Bryce Canyon walking among the Hoodoos - huge sandstone pillars creating a vast natural maze.
        We then headed south, to Arizona, where we visited the Lower Antelope Canyon and the Horseshoe Bend; the former carved by flash floods surging through the soft sandstone, the latter formed over millions of years as the Colorado river slowly winds its way towards the Grand Canyon.
        The trip culminated with two days spent hiking the vast Grand Canyon, descending a mile from the rim to reach the river at the canyon's centre.</p>
    </div>
    </div>



    <div class="post-fluid ">

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
              <h1>Zion</h1>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1513640291/DSC_5488_bqbz7w.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Angel's Landing   •   Zion National Park
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1513640291/DSC_5492_ii7jpj.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Angel's Landing   •   Zion National Park
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1513640291/DSC_5505_fuagnr.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Angel's Landing   •   Zion National Park
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
              <h1>Bryce Canyon</h1>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1513640291/DSC_5659_bj1d3o.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Inspiration Point   •   Bryce Canyon
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1513640291/DSC_5631_h5vexb.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1513640112/DSC_5629_o8zhfu.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
              <h1>Antelope Canyon</h1>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1513640140/DSC_5671_cccfhr.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Lower Antelope Canyon   •   Page
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1513640197/DSC_5743_sl3cuz.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Lower Antelope Canyon   •   Page
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
              <h1>Horseshoe Bend</h1>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1513640198/DSC_5781_pmqcae.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Horseshoe Bend   •   Page
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
              <h1>Grand Canyon</h1>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1513640223/DSC_5815_xwszuy.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    South Kaibab Trail   •   Grand Canyon
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1513640291/DSC_5809_xblbsm.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    South Kaibab Trail   •   Grand Canyon
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1513640225/DSC_5882_ognp2j.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Bright Angel Trail   •   Grand Canyon
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1513640207/DSC_5868_ozvqpc.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div>
                    Sunset   •   Grand Canyon
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

</div>





<!-- <div class="row baseline-post-nav">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<a href="large-image-v2-1.html" class="post-nav post-newer">← NEWER</a>
<a href="large-image-v2-3.html" class="post-nav post-older">OLDER →</a>
</div>
</div>
</div>
</div> -->


</body>


{% endblock %}
