{% extends "base2.html" %}
{% block title %}Simon Hunter | Photography{% endblock %}

{% block content %}


<body>
  <div class="page-loader">
    <div class="loader-in">Loading...</div>
    <div class="loader-out">Loading...</div>
  </div>


  <div class="canvas post-striped">
    {% include "includes/navbar.html" %}


    <div class="container">
      <div class="head-text">
        <h1>US National Parks</h1>
        <p class="lead-text">November 2017</p>
      </div>
    </div>



    <div class="post-fluid post-striped">

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1470589402/Svalbard/DSC_3019.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Angel's Landing   •   Zion National Park
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

</div>





<!-- <div class="row baseline-post-nav">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<a href="large-image-v2-1.html" class="post-nav post-newer">← NEWER</a>
<a href="large-image-v2-3.html" class="post-nav post-older">OLDER →</a>
</div>
</div>
</div>
</div> -->


</body>


{% endblock %}
