{% extends "base2.html" %}
{% block title %}Simon Hunter | Photography{% endblock %}

{% block content %}


<body>
  <div class="page-loader">
    <div class="loader-in">Loading...</div>
    <div class="loader-out">Loading...</div>
  </div>


  <div class="canvas ">
    {% include "includes/navbar.html" %}


    <div class="container">
      <div class="head-text">
        <h1>US National Parks</h1>
        <p class="lead-text">November 2017</p>
      </div>
    </div>



    <div class="post-fluid ">

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1513640291/DSC_5488_bqbz7w.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Angel's Landing   •   Zion National Park
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1513640291/DSC_5492_ii7jpj.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Angel's Landing   •   Zion National Park
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1513640291/DSC_5505_fuagnr.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Angel's Landing   •   Zion National Park
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1513640291/DSC_5659_bj1d3o.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Inspiration Point   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1513640291/DSC_5631_h5vexb.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1513640112/DSC_5629_o8zhfu.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1513640140/DSC_5671_cccfhr.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1513640197/DSC_5743_sl3cuz.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1513640198/DSC_5781_pmqcae.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1513640223/DSC_5815_xwszuy.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1513640291/DSC_5809_xblbsm.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1513640225/DSC_5882_ognp2j.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <div class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1513640207/DSC_5868_ozvqpc.jpg" alt="" />
            </div>
            <div class="col-md-10 col-md-offset-1">
                  <div class="post-item-info clearfix">
                    <div class="pull-left">
                    Peekaboo Trail   •   Bryce Canyon
                  </div>
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

</div>





<!-- <div class="row baseline-post-nav">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<a href="large-image-v2-1.html" class="post-nav post-newer">← NEWER</a>
<a href="large-image-v2-3.html" class="post-nav post-older">OLDER →</a>
</div>
</div>
</div>
</div> -->


</body>


{% endblock %}
