{% extends "base.html" %}
{% block title %}Simon Hunter | Photography{% endblock %}

{% block content %}


<body>
  <div class="page-loader">
    <div class="loader-in">Loading...</div>
    <div class="loader-out">Loading...</div>
  </div>


  <div class="">
    {% include "includes/navbar.html" %}


    <div class="container">
      <div class="head-text">
        <h1>Simon Hunter</h1>
        <p class="lead-text">Photography</p>
      </div>
    </div>



    <div class="post-fluid post-striped">

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <a href="{{ url_for('national_parks') }}" class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1513640291/DSC_5505_fuagnr.jpg" alt="" />
            </a>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item post-item-centered">
                <div class="post-item-paragraph">
                  <span class="date">December, 2017</span>
                  <h2><a href="{{ url_for('national_parks') }}">US NATIONAL PARKS</a></h2>
                  <p>A week spent on a National Parks tour of the American Southwest. After landing in Las Vegas we headed north and across the border into Utah.
                    A hike up Angel's Landing in Zion National Park was followed by a day in Bryce Canyon <a href="{{ url_for('national_parks') }}" class="more">[...]</a></p>
                  </div>
                  <div class="post-item-info clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <a href="{{ url_for('arctic') }}" class="post-item-banner">
              <img class="lazy" data-src="http://res.cloudinary.com/monsk/image/upload/v1470589402/Svalbard/DSC_3019.jpg" alt="" />
            </a>
          <div class="col-md-10 col-md-offset-1">
            <div class="post-item post-item-centered">
              <div class="post-item-paragraph">
                <span class="date">June, 2016</span>
                <h2><a href="{{ url_for('arctic') }}">SVALBARD</a></h2>
                <p>A ten day circumnavigation of Spitsbergen, Svalbard. Situated half way between Norway and the North Pole Svalbard is home to a vast array of wildlife and varying climates.
                  While the interior is a glacial wilderness the coast supports polar bears, walrus, <a href="{{ url_for('arctic') }}" class="more">[...]</a></p>
                </div>
                <div class="post-item-info clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


</div>





<!-- <div class="row baseline-post-nav">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<a href="large-image-v2-1.html" class="post-nav post-newer">← NEWER</a>
<a href="large-image-v2-3.html" class="post-nav post-older">OLDER →</a>
</div>
</div>
</div>
</div> -->


</body>


{% endblock %}
