{% extends "base2.html" %}
{% block title %}Simon Hunter | Photography{% endblock %}

{% block content %}


<body>
  <div class="page-loader">
    <div class="loader-in">Loading...</div>
    <div class="loader-out">Loading...</div>
  </div>


  <div class="canvas post-striped">
    {% include "includes/navbar.html" %}


    <div class="container">
      <div class="head-text">
        <h1>Simon Hunter</h1>
        <p class="lead-text">Photography</p>
      </div>
    </div>



    <div class="post-fluid post-striped">

      <div class="container-fluid post-default">
        <div class="container">
          <div class="row post-items">
            <a href="{{ url_for('national_parks') }}" class="post-item-banner">
              <img src="http://res.cloudinary.com/monsk/image/upload/v1470589402/Svalbard/DSC_3019.jpg" alt="" />
            </a>
            <div class="col-md-10 col-md-offset-1">
              <div class="post-item post-item-centered">
                <div class="post-item-paragraph">
                  <span class="date">December 09, 2017</span>
                  <h2><a href="{{ url_for('national_parks') }}">US NATIONAL PARKS</a></h2>
                  <p>A week spent on a National Parks tour of the American Southwest. After landing in Las Vegas we headed north and across the border into Utah.
                    A hike up Angel's Landing in Zion National Park was followed by a day in Bryce Canyon walking among the Hoodoos - huge sandstone pillars creating a vast natural maze.
                    We then headed south, to Arizona, where we visited the Lower Antelope Canyon and the Horseshoe Bend; the former carved by flash floods surging through the soft sandstone, the latter formed over millions of years as the Colorado river slowly winds its way towards the Grand Canyon.
                    The trip culminated with two days spent hiking the vast Grand Canyon, descending a mile from the rim to reach the river at the canyon's centre.</p>
                  </div>
                  <div class="post-item-info clearfix">
                    <!-- <div class="pull-left">
                    By <a href="#">Jared Erondu</a>   •   <a href="#">#travel</a>
                  </div> -->
                  <div class="pull-right post-item-social">
                    <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
                    <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
                    <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="container-fluid post-default">
  <div class="container">
    <div class="row post-items">
      <div class="gallery-large-item gallery-item fashion">
        <a href="{{ url_for('arctic') }}" class="post-item-banner">
          <img src="http://res.cloudinary.com/monsk/image/upload/v1470589402/Svalbard/DSC_3019.jpg" alt="" />
        </a>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <div class="post-item post-item-centered">
          <div class="post-item-paragraph">
            <span class="date">December 09, 2017</span>
            <h2><a href="#">ARCTIC</a></h2>
            <p>Consectetur adipiscing elit. Vivamus nec mauris pulvinar leo dignissim sollicitudin eleifend eget velit. Nunc sed dolor enim, vitae sodales diam. Aenean imperdiet urna a lectus imperdiet consequat. Fusce eu nibh metus. Curabitur nec dignissim diam. Nulla eget massa at urna sagittis malesuada eget a erat. Sed vel magna leo, in pretium nunc. Ut ornare turpis vel ipsum vulputate lacinia. Pellentesque blandit sagittis tempor. Curabitur adipiscing est vitae quam bibendum at euismod ligula dignissim. Duis nec volutpat leo. Nam mollis massa ut nibh blandit ac faucibus metus tincidunt. Cras sagittis facilisis dui, id posuere tortor aliquam in. <a href="#" class="more">[...]</a></p>
          </div>
          <div class="post-item-info clearfix">
            <div class="pull-left">
              By <a href="#">Jared Erondu</a>   •   <a href="#">#culture</a>
            </div>
            <div class="pull-right post-item-social">
              <a href="#" class="quick-read"><i class="fa fa-eye"></i></a>
              <a href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<a href='#'><i class='fa fa-facebook'></i></a><a href='#'><i class='fa fa-twitter'></i></a>" class="pis-share"><i class="fa fa-share-alt"></i></a>
              <a href="#" class="post-like"><i class="fa fa-heart"></i><span>28</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>





<!-- <div class="row baseline-post-nav">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<a href="large-image-v2-1.html" class="post-nav post-newer">← NEWER</a>
<a href="large-image-v2-3.html" class="post-nav post-older">OLDER →</a>
</div>
</div>
</div>
</div> -->


</body>


{% endblock %}
