{% extends "base.html" %}
{% block title %}Scotland{% endblock %}

{% block content %}


<body>
    <div class="page-loader">
        <div class="loader-in">Loading...</div>
        <div class="loader-out">Loading...</div>
    </div>


    <div class="canvas ">
        {% include "includes/navbar.html" %}


        <div class="container">
            <div class="head-text">
                <h1>Scotland</h1>
                <p class="lead-text">September 2020</p>
            </div>
            <div class="post-item-paragraph">
                <p>I have spent the vast majority of my 30+ years on this planet avoiding Scotland. I attribute this to a 
                    scarring childhood holiday spent in a tent in the rain. However, with the travel restrictions imposed by the COVID 
                    pandemic, I figured it was worth giving Scotland a second chance. I spent 8 days hiking in Glencoe, and on the islands
                    of Kerrera and Seil. The weather was often wet, but the scenery was stunning.
                </p>
                <p>The following photos were shot on a Nikon D600 with a Nikon 16-35mm f/4 and Nikon 80-200mm f/2.8.</p>
            </div>
        </div>



        <div class="post-fluid ">

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1602148146/Scotland/Glencoe%20three%20sisters%2003.jpg"
                                alt="Three Sisters, Glencoe" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Three Sisters   •   Glencoe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1602148172/Scotland/Glencoe%20stob%20dearg%20cottage.jpg"
                                alt="Stob Dearg, Glencoe" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Cottage by Stob Dearg  •   Glencoe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1602148178/Scotland/Glencoe%20stob%20dearg.jpg"
                                alt="Stob Dearg, Glencoe" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Stob Dearg  •   Glencoe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1602148113/Scotland/Glencoe%20three%20sisters%2001.jpg"
                                alt="Glencoe three sisters on a rainy day" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Three sisters on a rainy day  •   Glencoe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1602148173/Scotland/Glencoe%20pap%20view.jpg"
                                alt="View from Pap of Glencoe" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    View from the Pap  •   Glencoe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1602148130/Scotland/Glencoe%20waterfall.jpg"
                                alt="Glencoe waterfall" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Waterfall  •   Glencoe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1602148111/Scotland/Kerrera%20Gylen%20castle.jpg"
                                alt="Gylen castle, Kerrera" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Gylen castle  •   Kerrera
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1602148159/Scotland/Castle%20stalker.jpg"
                                alt="Castle Stalker" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Castle Stalker  •   Appin
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

</body>


{% endblock %}