{% extends "base.html" %}
{% block title %}Vancouver Island{% endblock %}

{% block content %}


<body>
    <div class="page-loader">
        <div class="loader-in">Loading...</div>
        <div class="loader-out">Loading...</div>
    </div>


    <div class="canvas ">
        {% include "includes/navbar.html" %}


        <div class="container">
            <div class="head-text">
                <h1>Vancouver Island</h1>
                <p class="lead-text">July 2019</p>
            </div>
            <div class="post-item-paragraph">
                <p>Vancouver Island, situated a 90 min ferry ride west of Vancouver city, is a jewel. Bright green rainforests line the
                    Pacific coast, white sand beaches fill rocky coves, and snow-capped mountains harbour vast sapphire lakes. Emerald
                    rivers run along valleys, at times thundering through gorges, at times so serene they appear frozen. And it's among
                    this spectacular backdrop that a dizzying array of the most charismatic wildlife can be found; bears, whales, orcas,
                    sealions, sea otters and eagles all call the place home.</p>
                <p>We spent a week on the island; hiking, relaxing and staring out to sea.</p>
                <p>The following photos were shot on a Nikon D600 with a Nikon 16-35mm f/4 and Nikon 80-200mm f/2.8.</p>
            </div>
        </div>



        <div class="post-fluid ">

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355812/Vancouver%20Island/DSC_9097.jpg"
                                alt="Ucluelet coast" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Ucluelet   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355807/Vancouver%20Island/DSC_9083.jpg"
                                alt="Ucluelet lighthouse" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Ucluelet   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355823/Vancouver%20Island/DSC_9170.jpg"
                                alt="Bald eagle with fish" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Bald Eagle, Ucluelet   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355825/Vancouver%20Island/DSC_9171.jpg"
                                alt="Bald eagle with fish" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Bald Eagle, Ucluelet   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355838/Vancouver%20Island/DSC_9220.jpg"
                                alt="Orca, Ucluelet" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Orca, Ucluelet   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355841/Vancouver%20Island/DSC_9271.jpg"
                                alt="Sealions, Ucluelet" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Sealions, Ucluelet   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355859/Vancouver%20Island/DSC_9308.jpg"
                                alt="Beach, Ucluelet" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Ucluelet   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355874/Vancouver%20Island/DSC_9364.jpg"
                                alt="Little Qualicum Falls" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Little Qualicum Falls   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355886/Vancouver%20Island/DSC_9398.jpg"
                                alt="Bedwell Lake Trail, Strathcona National Park" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Bedwell Lake Trail, Strathcona National Park   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid post-default">
                <div class="container">
                    <div class="row post-items">
                        <div class="post-item-banner">
                            <img src="https://res.cloudinary.com/monsk/image/upload/c_scale,h_1600/v1564355902/Vancouver%20Island/DSC_9408.jpg"
                                alt="Little Bedwell Lake, Strathcona National Park" />
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="post-item-info clearfix">
                                <div>
                                    Little Bedwell Lake, Strathcona National Park   •   Vancouver Island
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

</body>


{% endblock %}